* {
    font-family: 'Roboto';
}


#app {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    padding: 25px;
    text-align: center;
    background-color: #121212;
    color: white;
    .row {
        align-items: center;
    }

    a {
        color: white;
    }

    h1 {
        color: #1ed760;
        font-weight: 700;
        font-size: 2em;
        margin: 0;
        span {
            color: white;
        }
    }
}

footer {
    padding: 25px 0;
    text-align: center;
    font-weight: bolder;
    background-color: #121212;
    color: white;
    
    a {
        color: white;

        svg {
            padding-left: 5px;
            max-width: 100px;
        }
    }
    
}

a {
    color: #121212;
    fill: currentColor;
    text-decoration: none;

    &:hover {
        color: #1ed760;
    }
}

main {
    background-color: hsl(141, 76%, 90%);
}

#editor-page {
    .editor {
        .editor-preview {
            min-height: 500px;
        }
        iframe {
            width: 320px;
            height: 100%;
        }
    }

}


.huge-title {
    font-size:4em;
    letter-spacing: -0.02em;
    font-weight: 900;
    margin: 0;
}

.form-check-label, .form-label {
    font-weight: bold;
}
.form-check-input:checked {
    background-color: #1ed760;
    border-color: #1ed760;
}