{% extends 'base.html' %}
    
{% block content %}

<div class="container" id="editor-page">
    <div class="row mb-5 mt-5">
        <div class="col col-sm-12">
            <h1 class="huge-title">Customize it</h1>
            <p>
                Tinker with your widget as you like!<br>
                <b>Current Status:</b> {{ 'Spotify is Playing' if is_now_playing else 'Spotify Not playing' }}<br> 	
            </p>
        </div>
    </div>
    <div class="row editor">
        <div class="col col-12 col-md-6 col-xl-4 editor-preview">
            <iframe src="" frameborder="0"></iframe>
        </div>
        <div class="col col-12 col-md-6 col-xl-8">
            <div class="row">
                <div class="col col-sm-12">

                    <div class="mb-3">
                        <a href="#" target="_blank" class="btn btn-dark widget-url-button">Get Widget URL</a>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="theme">Theme</label>
                        <select class="form-select" id="theme">
                            {% for theme in themes %}
                            <option value="{{ theme }}">{{ theme }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="row mb-3">
                        <div class="col col-sm-6 col-md-12 col-lg-4">
                            <label class="form-check-label" for="invert_artist_title">Invert Artist/Title</label>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="invert_artist_title">
                            </div>
                        </div>
                        <div class="col col-sm-6 col-md-12 col-lg-5">
                            <label class="form-check-label" for="cover">Cover</label>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="cover" checked>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <div class="col col-sm-6 col-md-12 col-lg-4">
                            <label class="form-check-label" for="progress_bar">Progress Bar</label>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="progress_bar" checked>
                            </div>
                        </div>
                        <div class="col col-sm-6 col-md-12 col-lg-5">
                            <div class="form-group">
                                <label class="form-label" for="progress_color">Progress Bar color</label>
                                <input type="color" list="progress_color_list" class="form-control" id="progress_color" value="#B3B3B3" aria-label="Username">
                                <datalist id="progress_color_list">
                                    <option value="#B3B3B3">
                                    <option value="#1ED760">
                                    <option value="#FFFFFF">
                                </datalist>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col col-sm-6 col-md-12 col-lg-4">
                            <label class="form-check-label" for="sound_waves">Sound Waves</label>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="sound_waves" checked>
                            </div>
                        </div>
                        <div class="col col-sm-6 col-md-12 col-lg-5">
                            <div class="form-group">
                                <label class="form-label" for="sound_waves_color">Sound Waves color</label>
                                <input type="color" list="sound_waves_color_list" class="form-control" id="sound_waves_color" value="#1ED760" aria-label="Username">
                                <datalist id="sound_waves_color_list">
                                    <option value="#1ED760">
                                    <option value="#FFFFFF">

                                </datalist>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
(function(){



var requestParams = {
    uid: '{{ uid }}',
    theme: 'default',
    invert_artist_title: false,
    progress_bar: true,
    sound_waves: true,
    sound_waves_color: '#1ED760',
    progress_color: '#B3B3B3',
    cover: true,
}

// Change Theme
$('body').on('change', 'select#theme', function(e){
    var select = e.currentTarget;
    requestParams['theme'] = select.value;
    updateWidget();
});

// Change any checkbox
$('body').on('change', 'input[type=checkbox]', function(e){
    var checkbox = e.currentTarget; 
    requestParams[checkbox.id] = checkbox.checked;
    updateWidget();
});

// Change any color input
$('body').on('change', 'input[type=color]', function(e){
    var input = e.currentTarget; 
    requestParams[input.id] = input.value;
    updateWidget();
});


function updateWidget() {
    widgetUrl = `/widget?${$.param(requestParams)}`;
    $('.widget-url-button').attr('href', widgetUrl);
    $('iframe').attr('src', widgetUrl);
}

updateWidget();



})();
</script>
{% endblock %}