* {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.widget-container {
    background-color: #121212;
    border-radius: 10px;
    padding: 10px;

    // Force last widget element to have no margin bottom
    div:last-child {
        margin-bottom: 0 !important;
    }
}

.card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1em;
    font-weight: bold;
    margin-bottom: 11px;
    color: #1ED760;
    fill: currentColor;

    svg {
        width: 30px;
        height: 30px;
        margin-left: 6px;
    }

}

.artist {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;

    line-height: 1em;
}

.title {
    color: #B3B3B3;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

.bars {
    height: 30px;
    margin: -30px auto 0 auto;
    position: relative;
    width: 100%;
    &.no-cover {
        margin-bottom: 10px;
    }
    
    .bar {
        background: #{'{{ sound_waves_color}}'};
        bottom: 1px;
        height: 3px;
        position: absolute;
        animation: sound 0ms -800ms linear infinite alternate;
    }
}

@keyframes sound {
    0% {
        opacity: .35;
        height: 3px;
    }

    100% {
        opacity: 1;
        height: 15px;
    }
}

.cover {
    margin-bottom: 10px;
    text-align: center;

    img {
        display: block;
        border-radius: 5px;
        width: 300px;
        height: 300px;
    }
}

.progress-container {
    height: 5px;
    background: #535353;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    
    .progress {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        border-radius: 5px;
        width: #{'{{ ((song_progress / song_duration) * 100)|int }}%'};
        background: #{'{{ progress_color}}'}; // #1ED760
        transition: width #{'{{ ((song_duration - song_progress) / 1000)|int }}'}s linear;
    }
}
